body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}

a {
    text-decoration: none;    
}

.mainframe {
    margin: auto;
    width: 600px;
    background-color: white;
}

header {
    z-index: 99;
    display: flex;
    width: 600px;
}

.logo {    
    width: 130px;
    padding-left: 5%;
    top: 50%;
    
}

nav {
    width: 100%;
}

label .menu-btn {
    position: relative;
    top: 50%;
    right: 85%;
}

.serch-container {    
    width: 100%;
    margin-top: 38px;
    margin-bottom: 38px;

}

.search-bar {   
    position: relative; 
    width: 532px;
    height: 55px;
    border-radius: 27px;
    border: none;   
    background-color: #777777;
    left: 50%;
    transform: translateX(-50%);
}

input::placeholder {
    padding-left: 5%;
    color: white;
    font-size: 16px;
}

.serch-container button {
        position: relative;        
        background-color: transparent;
        border: none;
        color: #FFF;
        width: 35px;
        height: 35px;
        outline: 0;
        font-size: 20px;
        top: 0px;
        left: -30px;
      }

/* 운세보기 */

}

.subtitle-container{
    position: relative;
    display: flex;    
    width: 600px;
    height: 100%;
}

 .subtitle-container .subtitle {
    margin-top: 24px;
    padding-left: 32px;
    font-size: 22px;
    color: #133C5A;
}

.subtitle-container .seeMore {
    right: -62%;
    top: 20px;
    position: relative;
    font-size: 12px;
}

.category {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}

.bar-deco {
    position: relative;
    display: block;
    content: "";
    width: 20px;
    height: 4px;
    top: -20px;
    left: 32px;
    background-color: #9891FF;
}

.img-box {
    padding: 0;
    width: 160px;
    height: 160px;
    border-radius: 15px;
    border: none;
}

.img-box:nth-child(1) {
    background-color:#FDB75C;
    background-image: url(/assets/img/bg/1-1.png);
    box-shadow: 3px 3px 6px rgba(253, 183, 98, .43);
}

.img-box:nth-child(2) {
    background-color:#FD5C63;
    background-image: url(/assets/img/bg/2-2.png);
    box-shadow: 3px 3px 6px rgba(253, 92, 99, .43);
}

.img-box:nth-child(3) {
    background-color: #818AFF;
    background-image: url(/assets/img/bg/3-3.png);
    box-shadow: 3px 3px 6px rgba(129, 138, 255, .43);
}

.category img {
    padding-top: 20px;
    padding-left: 20px;
}

.category h2 {
    position: relative;
    font-size: 28px;
    color: white;
    text-align: center;
    bottom: 10px;
}

/* 상담가능 */
.able {
    padding-left: 32px;  
}

.ablebox-1, .ablebox-2, .ablebox-3  {
    display: block;
    width: 196px;
    height: 220px;
    content: "";    
    border: white  2px;
    border-radius: 15px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.boolking-btn {
    position: relative;
    bottom: -186px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 28px;
    border: none;
    border-radius: 5px;
    background-color: #6D6D6D;
    text-align: center;
    color: white;
    cursor: pointer;
}

.ablebox-1:hover, .ablebox-2:hover, .ablebox-3:hover {
    transition:  all 0.35s ease-out;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
}

.boolking-btn:hover {
    background-color: white;
    color: red;
    transition:  all 0.35s ease-out;
}


.ablebox-1 {
    background-color: red;
}
.ablebox-2 {
    background-color: green;
}
.ablebox-3 {
    background-color: hotpink;
}


.addbanner img {
    padding-left: 32px;
    padding-top: 38px;
}


/* 천명인 이야기 */

.story {
    
    background-color: #9282EF;
    box-shadow: 3px 3px 6px rgba(146, 130, 239, 0.4);
    border-radius: 5px;
    border: none;
    width: 534px;
    align-items: center;
}

.story img {
    padding:4px;
    width: 212px;
    height: 212px;
}

.story-txtbox {
    position: relative;
    background-color: rgb(173, 173, 173);
    width: 534px;
    top: -4px;
}

.story-title {
    margin-top: 14px;
    padding: 14px 10px 10px 10px; 
    font-size: 24px;
    color:white;
}

.story-description {
    font-size: 14px;
    padding: 10px;
}

