
ul {
    position: absolute;
    height: 100vh;
    width: 400px;
    background-color: black;
    z-index: 99;
    transform: translateX(100%);
    top: -15px;
}

a {
    text-decoration: none;    
}

li {
    padding-top: 50px;
    padding-left: 20px;
    list-style: none;
    color: white;
    font-size: 20px;
}